{%extends 'base.html'%}
{%load i18n static mathfilters%}
{%block content%}
<div class="container" style="min-height:500px;">
    <h1>{%trans "List of Talks"%}</h1>
	<div class="row" style="margin-top: 40px;">
		<div class="col-md-10 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Talker</th>
                        <th>Date Time</th>
                    </tr>
                </thead>
                {%for talk in talk_list%}
                <tbody>
                    <tr>
                        <td>{{talk.link|safe}}</td>
                        <td>{{talk.user.link|safe}}</td>
                        <td>{{talk.talk_date}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{%endblock%}
