{%extends 'base.html'%}
{%load i18n static%}
{%block class-nav-archive%}active{%endblock%}
{%block content%}
<div class="container" style="min-height:500px;">
    <h1>{%trans "List of Talks"%}</h1>
	<div class="row" style="margin-top: 40px;">
		<div class="col-md-10 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Talk Title</th>
                        <th>Speaker</th>
                        <th>Date Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                {%for talk in talk_list%}
                <tbody>
                    <tr class="
                            {%ifequal talk.status 0%}
                            info
                            {%endifequal%}
                            {%ifequal talk.status 1%}
                            warning
                            {%endifequal%}
                            {%ifequal talk.status 2%}
                            danger
                            {%endifequal%}
                        ">
                        <td>{{talk.link|safe}}</td>
                        <td>{{talk.user.link|safe}}</td>
                        <td>{{talk.talk_date}}</td>
                        <td>
                            {%ifequal talk.status 0%}
                            Preparing
                            {%endifequal%}
                            {%ifequal talk.status 1%}
                            Ready
                            {%endifequal%}
                            {%ifequal talk.status 2%}
                            Finished
                            {%endifequal%}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{%endblock%}
