{%extends 'base.html'%}
{%load i18n static%}
{%block script%}
{{header|safe}}
<link rel="stylesheet" href="{%static "css/template.css"%}" />
{%endblock%}
{%block content%}
<div class="container" style="min-height:500px;">
    <h1 class="page-title">{{talk}}</h1>
	<div class="row" style="margin-top: 40px;">
	    <div class="col-md-10 col-xs-12">
            <dl class="dl-horizontal">
                <dt>{%trans "On Topic"%}</dt>
                <dd>{{talk.topic.link|safe|default:"topic missing"}}</dd>
                <dt>{%trans "Github Link"%}</dt>
                {%if talk.github_url%}
                <dd><a href="{{talk.github_url|safe}}">{{talk.github_url}}</a></dd>
                {%else%}
                <dd><a href="#">Not Decided</a></dd>
                {%endif%}
                <dt>{%trans "Date Time"%}</dt>
                <dd>{{talk.talk_date}}</dd>
                <dt>{%trans "Speaker"%}</dt>
                <dd>{{talk.user.link|safe}}</dd>
                <dt>{%trans "Location"%}</dt>
                <dd>{{talk.location}}</dd>
            </dl>
        </div>
    </div>
	<div class="row" style=" margin-bottom:20px">
	    <div class="col-md-8 col-xs-12 text-right">
            {%ifequal request.user talk.user%}
            <a href="/talks/update/{{talk.id}}/" class="btn btn-primary">{%trans "update talk information"%}</a>
                {%ifequal talk.status 0%}
                <a href="/talks/publish/{{talk.id}}/" class="btn btn-warning">{%trans "ready"%}</a>
                {%endifequal%}
                {%ifequal talk.status 1%}
                <a href="/talks/inform/{{talk.id}}/" class="btn btn-warning">{%trans "inform users (email)"%}</a>
                <a href="/talks/unpublish/{{talk.id}}/" class="btn btn-warning">{%trans "not ready"%}</a>
                {%endifequal%}
            {%endifequal%}
            {%if user.is_superuser and talk.status == 1%}
            <a href="/talks/unpublish/{{talk.id}}/" class="btn btn-warning">{%trans "not ready"%}</a>
            {%endif%}
        </div>
    </div>
    <hr class="col-xs-12">
	<div class="row" style="margin-top:40px;">

    {{content|safe}}
    </div>
</div>
{%endblock%}
