<!doctype html>
{%extends 'base.html'%}
{%load i18n static bootstrap%}
{%block content%}
<div class="container" style="min-height:500px;">
    <h1>Update Password</h1>
	<div class="row" style="margin-top: 80px;">
		<div class="col-sm-9">
			<!--Begin of Basic Informatoin-->
            <div id="update-password" class="">
                <form class="form-horizontal" id="form-password" method="POST" action="/being/update_password/"> {% csrf_token %}
				<fieldset>
                    {{form.oldpassword|bootstrap_horizontal}}
                    {{form.newpassword|bootstrap_horizontal}}
					<div class="form-group">
                        <label class=" control-label col-md-2" for="id_password2">{%trans "Repeat password"%}</label>
					    <div class="col-md-10">
                            <input type="password" class="form-control" id="id_password2" placeholder="{%trans "Repeat Password"%}" required name="password2">
					    </div>
					</div>
                    <p id="p-alert" class="help-block"></p>
					
			        <div class="form-group">
			        	<div class="text-right">
                            <a href="/being/user_detail/{{user.id}}" class="btn btn-default">{%trans "cancel"%}</a>
                            <button type="submit" class="btn btn-primary">{%trans "save"%}</button>
			            </div>
			        </div>
				</fieldset>
			</form>
            <script>
                $('#form-password').on('submit',function(){
                    if($('#id_newpassword').val()!=$('#id_password2').val()){
                        $('#p-alert').text('{%trans "inconsistant password"%}');
                    return false;}
                });
                $('#delete_user').on('click',function(){
                    if(confirm('{%trans "warning, once an account is deleted, you can not find it back!"%}')){
                        window.location.href='/being/delete/';
                    }
                });
            </script>
            </div>
		</div>
	</div>
</div>
{%endblock%}
