{%extends 'base.html'%}
{%load i18n static%}
{%block title%}{{objuser}}{%endblock%}

{%block content%}
<div class="container">
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-12">
            <h3 style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;" class="text-muted">{{role}}</h3>
            <h1 class="page-title">{{objuser}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img src="{%if objuser.avatar%}{{objuser.avatar.url}}{%else%}/static/img/default_avatar.png{%endif%}">
            </a>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary" id="panel-right">
                <div class="panel-heading">
                    {%trans "Profile"%}
                    {%ifequal objuser user%}
                    <span class="badge pull-right"><span class="glyphicon glyphicon-edit"></span>
                        <a class="text-primary" data-toggle="modal" href="/being/user_update/" title="{%trans "Modify"%}">{%trans "Modify"%}</a></span>
                    <span class="badge pull-right" style="margin-right:7px;">
                        <span class="glyphicon glyphicon-edit"></span>
                        <a class="text-primary" href="/being/update_password/" title="{%trans "Change Password"%}">{%trans "Change Password"%}
                        </a>
                    </span>
                    {%endifequal%}
                </div>
                <div class="panel-body" style="min-height:220px;"> 
                    <dl>
                        <dt>{%trans "Email"%}</dt><dd><a href="mailto:{{objuser.email}}">{{objuser.email}}</a></dd>
                        <dt>{%trans "Introduction"%}</dt><dd>{{objuser.description}}</dd>
                        <dt>{%trans "Interest"%}</dt><dd>
                        <ul>
                        {%for vote in objuser.vote_set.all%}
                        {%ifequal vote.kind 1%}
                        <li>{{vote.topic.link|safe}}</li>
                        {%endifequal%}
                        {%endfor%}
                        </ul>
                        </dd>
                        <dt>{%trans "Talks"%}</dt>
                        <dd>{{talk}}
                        <ul>
                        {%for talk in objuser.talk_set.all%}
                        <li>{{talk.link|safe}}</li>
                        {%endfor%}
                        {%if not objuser.talk_set%}<li>-</li>{%endif%}
                        </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
