<!doctype html>
{%extends 'base.html'%}
{%load i18n static bootstrap%}
{%block content%}
<div class="container" style="min-height:500px;">
    <h1>{%if update%}{%trans "update information"%}{%else%}{%trans "sign up"%}{%endif%}</h1>
	<div class="row" style="margin-top: 80px;">
		<div class="col-sm-9">
			<!--Begin of Basic Informatoin-->
            <div id="update-password" class="">
                <form enctype="multipart/form-data" id="form-password" class="form-horizontal" method="POST" action="{%if update%}/being/user_update/{%else%}/being/register/{%endif%}"> {% csrf_token %}
				<fieldset>
                    {%if not update%}
                    {{form.email|bootstrap_horizontal}}
                     <small id="emailHelp" class="help-block col-md-offset-2">This email is visible to others</small>
                    {{form.password|bootstrap_horizontal}}
                    {{form.password2|bootstrap_horizontal}}
                    {%endif%}
                    <span id="p-alert" class="help-block col-md-offset-2"></span>

                    {{form.truename|bootstrap_horizontal}}
                    {{form.avatar|bootstrap_horizontal}}
                    {{form.description|bootstrap_horizontal}}
					
			        <div class="form-group">
			        	<div class="col-md-offset-2 col-md-10">
                            {%if update%}
                            <a href="/being/{{request.user.id}}/" class="btn btn-default">{%trans "cancel"%}</a>
                            {%else%}
                            <a href="/" class="btn btn-default">{%trans "cancel"%}</a>
                            {%endif%}
                            <button type="submit" class="btn btn-primary">{%if update%}{%trans "save"%}{%else%}{%trans "submit"%}{%endif%}</button>
			            </div>
			        </div>
                    {%if update%}
			        <div class="form-group">
			        	<div class="col-md-offset-2 col-md-8">
                            <a href="#" class="text-danger" id="delete_user">{%trans "delete account forever"%}</a>
			            </div>
			        </div>
                    {%endif%}
				</fieldset>
			</form>
            <script>
                $('#form-password').on('submit',function(){
                    if($('#id_password').val()!=$('#id_password2').val()){
                        $('#p-alert').text('{%trans "inconsistant password"%}');
                    return false;}
                });
                $('#delete_user').on('click',function(){
                    if(confirm('{%trans "warning, once an account is deleted, you can not find it back!"%}')){
                        window.location.href='/being/delete/';
                    }
                });
            </script>
            </div>
		</div>
	</div>
</div>
{%endblock%}
