{%extends 'base.html'%}
{%load i18n static%}
{%block content%}
<div class="container" style="min-height:500px;">
    <h1>{{topic.text|urlize}}</h1>
    {%if user.is_authenticated%}
    <div class='row' style="margin-bottom: 20px;">
        <div class="col-md-8 col-xs-12">
            <a href="/topics/update/{{topic.id}}/" class="btn btn-primary">update this topic</a>
        </div>
    </div>
    {%endif%}
    <hr class="col-xs-12">
	<div class="row">
		<div class="col-md-8 col-xs-12">
            {%with vote_info=topic.vote_info%}
            {%if topic.talk_set.all%}
            <h4>{%trans "Related talks"%}</h3>
            <ul>
            {%for talk in topic.talk_set.all%}
            <li>{{talk.link|safe}}</li>
            {%endfor%}
            </ul>
            {%endif%}
            {%if vote_info.1%}
            <h4>{%trans "People who like it"%} ({{vote_info.1|length}})</h3>
            <ul>
            {%for v in vote_info.1%}
            <li>{{v.link|safe}}</li>
            {%endfor%}
            </ul>
            {%endif%}
            {%if vote_info.2%}
            <h4>{%trans "People who dislike it"%} ({{vote_info.2|length}})</h3>
            <p class='text-muted'>{%trans "I don't list their names here to prevent them from being involved into a murdering."%}</p>
            {%endif%}
            {%endwith%}
        </div>
    </div>
</div>
{%endblock%}
