{%extends 'base.html'%}
{%load i18n static mathfilters%}
{%block content%}
<div class="container" style="min-height:500px;">
    <h1>{%if update%}{%trans "modify"%}{%else%}{%trans "List of Topics"%}{%endif%}</h1>
	<div class="row" style="margin-top: 80px;">
		<div class="col-md-8 col-xs-12">
{%for g, topics in topic_list%}
    <h3>{{g}}</h3>
    <ul>
    {% for t in topics %}
    {%with vote_info=t.vote_info%}
    <li>{{t.link|safe}}&nbsp;&nbsp;
        <a class="badge progress-bar-{%if user in vote_info.1%}danger{%else%}info{%endif%}" aria-label="upvote" href="/topics/{{t.id}}/vote/1/">
            <span class="glyphicon glyphicon-chevron-up"></span>
            {%with len2=vote_info.2|length%}
            {{vote_info.1|length|sub:len2}}
            {%endwith%}
        </a>
        <a class="badge progress-bar-{%if user in vote_info.2%}danger{%else%}info{%endif%}" aria-label="downvote" type="button" href="/topics/{{t.id}}/vote/2/">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>&nbsp;&nbsp;
        {{t.talk_set.all|length}} {%trans "talks"%}
        <a href='/talks/new/{{t.id}}/' class='btn btn-sm'><span class="glyphicon glyphicon-plus">Talk</a>
    </li>
    {%endwith%}
    {% endfor %}
    <li><a href="/topics/new/{{g.id}}/">New Topic</a></li>
    </ul>
{% endfor %}
</div>
</div>
</div>
{%endblock%}
